# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache

# nix
result
result/

# We ignore data inputs, outputs, and zipfiles, but keep directories
model_input/*
!model_input/.keep
model_output/*
!model_output/.keep
experiment_zipfiles/*
!experiment_zipfiles/.keep
